streamlit
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
pymupdf
pdfminer.six
python-dotenv
protobuf==3.20.3
